.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #000;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-routes {
	width: 30%;
	float: right;
}

.App-map {
	width: 60%;
	height: 800;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
